@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* scrollbar.css */

/* Personnalisation de la scrollbar pour les navigateurs Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Largeur de la scrollbar verticale */
    height: 8px; /* Hauteur de la scrollbar horizontale */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff; /* Fond de la scrollbar (blanc) */
    border-radius: 10px; /* Bordure arrondie du track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Couleur de la barre de défilement (bleu) */
    border-radius: 10px; /* Bordure arrondie de la barre */
    border: 2px solid #ffffff; /* Optionnel: bord blanc autour de la barre */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Couleur au survol (bleu foncé) */
  }
  
  /* Personnalisation de la scrollbar pour Firefox */
  html {
    scrollbar-width: thin; /* Taille de la scrollbar (thin, auto, none) */
    scrollbar-color: #eff2ff #ffffff; /* Couleur de la barre et du fond (bleu sur fond blanc) */
  }
  